/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
  // Base URLs to official nf-core test data
  modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
  pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/references/'

  // Tiny paired-end FASTQ files (used by fastp, bowtie2, bbduk, etc.)
  reads_pe = [
    params.modules_testdata_base_path + 'genomics/homo_sapiens/illumina/fastq/test_1.fastq.gz',
    params.modules_testdata_base_path + 'genomics/homo_sapiens/illumina/fastq/test_2.fastq.gz'
  ]

  // Reference genome FASTA for alignment (used by bowtie2)
  ref_fasta = params.pipelines_testdata_base_path + 'references/GRCh38_chr21/GRCh38_chr21.fa'

  // Adapter/reference FASTA for trimming/filtering (used by bbduk)
  bbduk_ref_fasta = params.modules_testdata_base_path + 'genomics/sarscov2/genome/genome.fasta'
}

// Allow anonymous S3 access (used in some remote datasets)
aws.client.anonymous = true

// Local resource overrides for tests
process {
  withName: FASTP {
    memory = '6 GB'
    cpus = 2
  }
  withName: SEQKIT_STAT {
    memory = '1 GB'
    cpus = 1
  }
  withName: BOWTIE2_BUILD {
    memory = '2.GB'
  }
  withName: BOWTIE2_ALIGN {
    memory = '2.GB'
  }
  withName: BBMAP_BBDUK {
    memory = '2.GB'
  }
}

//--------------------------------------------------------------------
// Handy test/debug profiles for nf-test
//--------------------------------------------------------------------
profiles {
  test  { params.max_cpus = 1; params.max_memory = '1.GB' }
  debug { process { withName: /BOWTIE2_.*/ { echo = true } } }
}
