/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/veba -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile for fastp'
    config_profile_description = 'Minimal intestinal test dataset from PolyBio to test fastp preprocessing'

    input  = "https://raw.githubusercontent.com/411an13/test-datasets/fastp-test-data/polybio/intestine_samplesheet.csv"
    adapter_fasta = []
    discard_trimmed_pass = false
    save_trimmed_fail = false
    save_merged = false

    // genome = 'R64-1-1'  // not needed unless you're aligning
}
